.sign_contents__under__other__login-btn{
  display: block;
  font-size: 12px;
  padding: 6px 20px;
  border: 1px solid #000;
  background-color: #fff;
  border: 0px;
  border-radius: 8px;
  color:$theme-font-color;
}