a{
  text-decoration: none;
  color: #333333;
}

body{
  background-color: #ffffff;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
body::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

#title{
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}

.contents{
  padding-top:70px;
  width: 100%;
  height: 100%;
  min-height:calc(100vh);
}

footer{
  position: relative;
}

.footer{
  position: absolute;
  bottom: 0px;
}

.border{
  border: $theme-accent-color 2px dotted;
}

hr{
  border: dotted 1px $theme-accent-color;
  margin-bottom:15px;
}

html{
  color:$theme-font-color;
}


h2{
  font-size:20px;
  margin-bottom:5px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width:640px){
  h3{
    margin-bottom:10px;
    font-size:14px;
    font-weight: bold;
  }
}

@media screen and (min-width:641px){
  h3{
    margin-bottom:10px;
    font-size:18px;
    font-weight: bold;
  }
}
