.follow-msgs-content{
  width:$user-detail-width;
  padding:$post-detail-padding;
  margin: 40px auto;
  background-color: #eeeeee;
  border-radius:8px;
  &__area{
    width:100%;
    display: flex;
    padding:5px;
    &__show{
      width: 100%;
      display: flex;
      &__prof{
        width: 180px;
        display: flex;
        &--icon{
          margin-top:5px;
        }
        &--name{
          margin-left:5px;
          line-height: 71px;
        }
      }
      &__comment{
        width: calc(100% - 350px);
        line-height: 71px;
      }
      &__detail{
        width: 150px;
        &--created_at{
          font-size:12px;
          color:#aaaaaa;
        }
        &--delete{
          width: 60%;
          margin:15px auto 5px;
  
          background-color: $theme-sub-color;
          border-radius: 8px;
          text-align: center;
          a{
            text-decoration: none;
            color:#ffffff;
            font-size:12px;
          }
        }
      }
    }
  }
}
.follow-msgs-footer{
  position: fixed;
  height:80px;
  width: 100%;
  bottom: 0;
}