.follow-btn{
  border-style:none;
  margin-bottom: 30px;
  border:1px solid $theme-accent-sub-color;
  border-radius: 8px;
  background-color:$theme-accent-color;
  color:#FFFFFF;
  padding:5px 10px;

}