$header-user-area:150px;

.header{
  position: fixed;
  z-index:1;
  width:100%;
  height: 60px;
  display:flex;
  justify-content: space-between;
  background-color: $theme-color;
  line-height: 60px;
  margin:0 auto;
  color:white;
  border-bottom: 10px solid $theme-accent-color;
  &__categoryArea{
    padding-left:20px;
  }
  &__title{
    a{
      color: #ffffff;
      text-decoration: none;
      width: 150px;
      font-weight: bold;
      display: block;
      margin: 0 auto;
    }
  }
  &__menu{
    padding-right:20px;
  }
}

// ヘッダーカテゴリーリストのcss
.categoryMenu{
  display: flex;
  &__parents{
    &__list{
      background-color: $edit-btn-color;
      border-bottom: 1px solid $theme-font-sub-color;
      min-width: 180px;
    }
  }
  &__children{
    &__list{
      background-color: $edit-btn-color;
      border-bottom: 1px solid $theme-font-sub-color;
      border-left: 1px solid $theme-font-sub-color;
      min-width: 180px;
    }
  }
  &__grandChildren{
    &__list{
      background-color: $edit-btn-color;
      border-bottom: 1px solid $theme-font-sub-color;
      border-left: 1px solid $theme-font-sub-color;
      min-width: 180px;
    }
  }
}

//カテゴリーリスト共通で利用する項目一つ一つのリスト設定
.categoryListDetail{
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}


@media screen and (max-width:640px){
  #title{
    font-size:18px;
  }
}
@media screen and (min-width:641px){
  #title{
    font-size:28px;
  }
}