.post_content{
  width:calc(100% - 30px);
  height: 100%;
  padding-top: 20px;
  padding-left:15px;
  padding-right:15px;
  display:flex;
  flex-wrap: wrap;
  &__content{
    width: calc(100% / 3 - 57px);
    max-height:450px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-left: 40px;
    margin-bottom: 40px;
    &__img-area{
      img{
        max-width: 100%;
        box-sizing: border-box;
      }
    }
    &__text-area{
      margin: 5px 5px 2px 5px;
      font-size: 12px;
      overflow: hidden;
      width:calc(100% - 10px);
      max-height:150px;
      a{
        display: block;
      }
    }
  }
}

.post-btn{
  width:80px;
  height: 80px;
  text-align: center;
  background-color: #ec9a00;
  border:#e09201 2px solid;
  border-radius: 50%;
  position:fixed;
  bottom: 40px;
  right:40px;
  a{
    margin-top:16px;
    height: 60px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    line-height: 24px;
    display: block;
  }
}