.post_create_content{
  width:$user-detail-width;
  padding:$post-detail-padding;
  margin: 40px auto;
  background-color: #eeeeee;
  h2{
    font-size:20px;
    margin-bottom:5px;
  }
  &__title{
    width:100%;
  }
  .post_content{
    width: 100%;
    display: block;
    &__form{
      width: 100%;
      display: block;
      display: flex;
      justify-content: space-between;
      margin-bottom:15px;
      &__left{
        width:20%;
        margin-right:15px;
      }
      &__right{
        width:80%;
      }
    }
  }
}