.post_create_content{
  width:$user-detail-width;
  padding:$post-detail-padding;
  margin: 40px auto 80px;
  background-color: #eeeeee;

  &__title{
    width:100%;
  }
  &__form{
    width: 100%;
    margin-bottom: 24px;
    &__upper{
      display: flex;
      justify-content:space-between;
      margin-bottom: 8px;
      &__name{
        font-size: 18px;
        font-weight: bold;
      }
    }
    &__under{
      width: calc(100% - 8px);
      height: 30px;
      border: 1px solid $theme-sub-color;
      border-radius: 4px;
      padding:4px;
    }
    &__underTextArea{
      max-width: calc(100% - 8px);
      min-width: calc(100% - 8px);
      min-height: 130px;
      border: 1px solid $theme-sub-color;
      border-radius: 4px;
      padding:4px;
    }
    &__underImgForm{
      width: calc(100% - 8px);
      &--view{
        margin:10px auto;
        width: 200px;
        height: 200px;
        background-color: #fff;
        border: 1px solid $theme-sub-color;
        img{
          max-width: 200px;
          max-height: 200px;
        }
      }
      &--uploadBtn{
      }
    }
  }
  &__btnArea{
    margin-top:32px;
    margin-bottom: 32px;
  }
}

.between-detail-margin{
  display: block;
  margin-top: 32px;
}