$theme-color: #003185;
$theme-sub-color: #afa275;
$theme-sub2-color: #c4b994;
$theme-accent-color:#f26900e4;
$theme-accent-sub-color:#bb5201e0;

$theme-font-color: #131d25;

$post-detail-width: calc(100% - 30px);
$post-detail-padding:20px 15px;

$user-detail-width: calc(80% - 40px);
$sign-detail-width: 50%;