$theme-color: #242c41;
$theme-sub-color: #afa275;
$theme-sub2-color: #c4b994;
$theme-accent-color:#0755fce0;
$theme-accent-sub-color:#0349dfe0;

$theme-font-color: #131d25;

$post-detail-width: calc(100% - 30px);
$post-detail-padding:20px 15px 0 15px;

$user-detail-width: calc(80% - 40px);