@media screen and (max-width:640px){
  .user_contents{
    width:$user-detail-width;
    padding:$post-detail-padding;
    margin: 40px auto;
    background-color: #eeeeee;
    border-radius:8px;
    
    &__upper-info{
      height:40px;
      padding:5px;
      display:flex;
      justify-content: space-between;
      &__profile{
        width:70%;
        display:flex;
        &--img{
          height:30px;
          width:30px;
          border: 1px #666666 solid;
          border-radius: 50%;
        }
        &--name{
          width:200px;
          font-size: 14px;

          line-height: 40px;

          margin-left:10px;
        }
      }
      &__action{
        height:100%;
        width:30%;
        display: block;
        &--edit{
          width:100%;
          text-align: left;
          font-size:12px;
          a{
            display: block;
            font-size:10px;
          }
          i{
            padding-right:10px;
          }
        }
        &--sign-out{
          width:100%;
          font-size:12px;
          margin-top:15px;
          text-align: left;
          a{
            display: block;
            font-size:10px;
          }
          i{
            padding-right:10px;
          }
        }
      }
    }
    &__under-info{
      width:100%;
      min-height:calc(100hv - 110px);
      &--title{
        font-size: 14px;
      }
      &--text{
        font-size:12px;
      }
    }
  }
  .user_posts{
    width:100%;
    &--title{
      width:calc(100% - 40px);
      padding:20px 20px 0 20px;
      font-size:18px;
      background-color: #eeeeee;
    }
    &__list{
      margin:0 auto;
    }
  }
}
@media screen and (min-width:641px){
  .user_contents{
    width:$user-detail-width;
    padding:$post-detail-padding;
    margin: 40px auto;
    background-color: #eeeeee;
    border-radius:8px;
    
    &__upper-info{
      width: calc(100% - 30px);
      height:60px;
      padding:5px;
      display:flex;
      justify-content: space-between;
      &__profile{
        width:60%;
        display:flex;
        &--img{
          height:58px;
          width:58px;
          border: 1px #666666 solid;
          border-radius: 50%;
        }
        &--name{
          width:100%;
          font-size: 20px;

          line-height: 60px;

          margin-left:10px;
          padding:10px;
        }
      }
      &__action{
        height:100%;
        margin-top:10px;
        width:20%;
        display: block;
        &--edit{
          width:100%;
          padding-top:20px;
          text-align: left;
          a{
            display: block;
            font-size:12px;
          }
          i{
            padding-right:10px;
          }
        }
        &--sign-out{
          width:100%;
          margin-top:15px;
          text-align: left;
          a{
            display: block;
            font-size:12px;
          }
          i{
            padding-right:10px;
          }
        }
      }
    }
    &__under-info{
      width:100%;
      min-height:calc(100hv - 110px);
      &--title{
        font-size: 26px;
      }
      &--text{
      }
    }
  }
  .user_posts{
    width:100%;
    &--title{
      width:calc(100% - 40px);
      padding:20px 20px 0 20px;
      font-size:30px;
      background-color: #eeeeee;
    }
    &__list{
      margin:0 auto;
    }
  }
}